@tailwind base;

@layer base {
    html {
        @apply text-neutral-800;
    }
    html.dark {
        @apply text-neutral-50;
        @apply bg-neutral-800;
    }
}

@tailwind components;
@tailwind utilities;

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
